---
const employeeData = await fetch("https://raw.githubusercontent.com/snotbroder/frontend-design/main/resources/json/employees.json").then((res) => res.json());
console.log(employeeData);
import { Icon } from "astro-icon/components";
import Btn from "../components/Btn.astro";
import Tag from "../components/Tag.astro";
import MainLayout from "../layouts/MainLayout.astro";
import HeadComponent from "../components/HeadComponent.astro";
---

<MainLayout sitetitle="Our team">
  <HeadComponent tagContent="TEAM" headline="The Consultors" img="/images/consultors.png" />
  <section class="content flow-light">
    <h2>Meet Our Great Team</h2>
    <div class="lead">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation.</p>
      <Btn type="btn1" content="Join our team" />
    </div>
    <article class="cardlist">
      {
        employeeData.map((employee) => (
          <a href={`/team/${employee.slug}`} class="employeecard">
            <img src={employee.img} alt="" />
            <div class="tag">
              <Tag tagContent={employee.title}> </Tag>
            </div>
            <h5>{employee.name}</h5>
            <p>{employee.description}</p>
            <div class="socials">
              <Icon name="instagram" />
              <Icon name="facebook" />
              <Icon name="twitter" />
            </div>
          </a>
        ))
      }
    </article>
  </section>
</MainLayout>
<!--  -->
<style>
  .cardlist {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: var(--space-m);
  }
  .employeecard {
    display: grid;
    text-align: center;
    transition: var(--hoverdefault);
    img {
      aspect-ratio: 1 / 1.15;
      object-fit: cover;
      border-radius: 20px;
    }
    img,
    .tag {
      grid-area: 1/1;
    }
    .tag {
      place-self: end;
      margin: var(--space-s);
    }
    h5,
    p {
      margin-top: var(--space-s);
    }
    .socials {
      display: flex;

      justify-content: center;
      gap: var(--space-s);

      margin-top: var(--space-s);
      > * {
        height: var(--step-1);
        width: var(--step-1);
      }
    }
  }
  .employeecard:hover {
    cursor: pointer;
    translate: var(--hover);
    transition: var(--hovertrans);
  }
  .lead {
    display: flex;
    gap: var(--space-2xl);
    align-items: center;
    :nth-child(2) {
      min-width: 10rem;
    }

    @media (width < 600px) {
      flex-direction: column;
    }
  }
</style>
